.white {
    background-color: white;
}

body {
    background-color: #eeeeee;
}

header {
    padding-top: 20px;
}


/* navbar */

.navbar {
    margin-bottom: 0px;
}

.nav {
    float: right;
    display: inline-flex;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 25px;
    margin: 10px;
}

.nav-topo {
    background-color: #eeeeee;
    width: 100%;
    height: 60px;
}

.logo {
    height: 50px;
    width: auto;
    padding: 2px;
    vertical-align: top;
    margin-left: 20px;
}

.apps {
    position: absolute;
    right: 150px;
    vertical-align: middle;
    top: -15px;
}

.entrar {
    position: absolute;
    right: 70px;
    vertical-align: middle;
    top: 15px;
}

.search {
    position: absolute;
    width: 50%;
    left: 280px;
    vertical-align: middle;
    top: 10px;
    margin-bottom: 0px;
}


/* fim do navbar */

.list-group-item {
    background-color: inherit;
    padding: 0px;
}

.action-bar {
    display: inline-flex;
}

.action-bar img {
    position: absolute;
    right: 150px;
}

.header-music {
    width: 80%;
    background-color: #E6A39D;
    height: 247px;
}

.more {
    margin-top: 5px;
    position: absolute;
    right: 120px;
}

.icon-app {
    background-color: #689f38;
}

.icon-filmes {
    background-color: #ed3b3b;
}

.icon-musica {
    background-color: #ef6c00;
}

.icon-livros {
    background-color: #039be5;
}

.icon-disp {
    background-color: #658092;
}

.col-md-9 {
    left: 50px;
}

.col-md-2 {
    padding-left: 0px;
    min-width: 220px;
}

.col-sm-2 {
    padding: 1px;
}

.col-xs-2 {
    padding-left: 0px;
    min-width: 260px;
}

.glyphicon-star {
    font-size: 9px;
    padding: 1px;
    margin: 0px;
}

.col-sm-5 {
    font-size: 11px;
}

.navbar-brand {
    padding-top: 0px;
}

.container-fluid-section {
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.icon-entre {
    background-color: black;
    color: white;
}

.navbar-white {
    background-color: white;
}

.col-section {
    width: 110%;
    height: 80px;
    background-color: black;
}

.col-section red {
    background-color: red;
}

.account .list-group-item {
    padding: 15px;
}

.media .media-body {
    padding-right: 15px;
    background-color: #fff;
    color: black;
}

.col-section .media .media-body {
    background-color: inherit;
    color: white;
}

.col-body {
    background-color: white;
    color: black;
    padding-top: 0px;
    margin-top: 0px;
    line-height: .5;
}

.col-body h4,
h5,
ratings {
    padding-left: 10px;
    padding-bottom: 0px;
}

container-fluid .row .col-md-9 .container-multimedia {
    padding-bottom: 150px;
}

.footer {
    margin-top: 20px;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: inherit;
}
