* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

body {
    background-color: lightgray;
}

.logo {
    height: 39px;
    width: auto;
}

.nav-topo {
    background-color: lightgrey;
}

.nav {
    float: right;
    display: inline-flex;
}

.list-group-item {
    background-color: inherit;
}

.action-bar {
    float: right;
    display: inline-flex;
}

.header-music {
    width: 80%;
    background-color: #E6A39D;
    height: 250px;
}

.more {
    margin-top: 5px;
    position: absolute;
    right: 150px;
}

.entrar {
    margin-top: 5px;
    padding: 5px;
    width: 64px;
}

.white {
    background-color: white;
}
