* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.white {
    background-color: white;
}

body {
    background-color: lightgray;
}


/* navbar */

.nav {
    float: right;
    display: inline-flex;
}

.nav-topo {
    background-color: lightgrey;
    width: 100%;
    height: 60px;
}

.logo {
    height: 50px;
    width: auto;
    padding: 2px;
    vertical-align: top;
    margin-left: 20px;
}

.apps {
    position: absolute;
    right: 150px;
    vertical-align: middle;
    top: -15px;
}

.entrar {
    position: absolute;
    right: 70px;
    vertical-align: middle;
    top: 15px;
}

.search {
    position: absolute;
    width: 50%;
    left: 280px;
    vertical-align: middle;
    top: 10px;
    margin-bottom: 0px;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}


/* fim do navbar */

.list-group-item {
    background-color: inherit;
    padding: 0px;
}

.action-bar {
    float: right;
    display: inline-flex;
}

.header-music {
    width: 80%;
    background-color: #E6A39D;
    height: 250px;
}

.more {
    margin-top: 5px;
    position: absolute;
    right: 150px;
}

.icon-app {
    background-color: #689f38;
}

.icon-filmes {
    background-color: #ed3b3b;
}

.icon-musica {
    background-color: #ef6c00;
}

.icon-livros {
    background-color: #039be5;
}

.icon-disp {
    background-color: #658092;
}
